<html>
<link rel="stylesheet" type="text/css" href="../public/stylesheet.css">
  <body>
    <div class="background"></div>
    <div id="About-Body" style="visibility: hidden">This is test text</div>

    <div class="button-container">
      <div class="button" id="About">ABOUT</div>
      <div class="button" id="Projects">PROJECTS</div>
      <div class="button" id="Blog">BLOG</div>
      <div class="button" id="Contact">CONTACT</div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="../public/javascript/clip.js"></script>
  <script src="../public/javascript/navigation.js"></script>
</html>
